
@import "@deidee/desass/src/sass/style";

@import "form";
@import "introduction";
@import "logotype";
@import "section";

:root {
  --ddpx: 1;
  --dp: 1px;
}

@include reset();

html {
  font: normal 100%/1.5 sans-serif, serif;
}

main {
  margin: auto;
  max-width: 50%;
  position: relative;
}



