{% extends '../base.html.twig' %}

{% block body %}
    <main id="content">
        <p><a href="https://this-page-intentionally-left-blank.org/">This Page Intentionally Left Blank</a></p>
    </main>
{% endblock %}