{% extends '../base.html.twig' %}

{% block body %}
    <h1 class="logotype">
        {%- for char in title|split('') %}
            {% include '../_x5.html.twig' with {'char': char} %}
        {% endfor -%}
    </h1>
    <main id="content">
        <p class="introduction">{% include '_introduction.html.twig' %}</p>
        <ul class="arts">
            {%- for link in art %}
                <li>{% include '../_link.html.twig' with link %}</li>
            {% endfor -%}
        </ul>
        <ul class="crafts">
            {%- for link in projects %}
                <li>{% include '../_link.html.twig' with link %}</li>
            {% endfor -%}
        </ul>
        <aside>
            <p>Feel free to follow me, contact me, and support me. You can also fine more of my stuff at {% include '../_link.html.twig' with links.acjs %}.</p>
        </aside>
    </main>
{% endblock %}