---
layout: base.html.njk
title: "Alexander Christiaan Jacob"
templateEngineOverride: njk, md
---

<h1>{%- for char in title.split('') %}{% include '_x5.html.njk' %}{%- endfor %}</h1>

{% include '_introduction.md' %}

{% include '_artworks.md' %}
{% include '_projects.md' %}
